@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>My View</title>
</head>
<body>
    <div>
        <h1>Hello MVC (from the view)</h1>

    </div>
    <div>
        @ViewBag.Greeting World! (from the view)
        <p>We're going to have an exciting party.<br/>
        (To do: sell it better. Add pictures of something.)
        </p>
        <a asp-action="RsvpForm">RSVP Now</a>
    </div>
</body>
</html>