@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>My View</title>
</head>
<body>
    <div>
        <h1>Hello MVC (from the view)</h1>

    </div>
    <div>
        @ViewBag.Greeting World! (from the view)
    </div>
</body>
</html>